/*font-family: 'Norican', cursive;
font-family: 'Gamja Flower', cursive;
*/
body{background-color: AntiqueWhite ; 
}

nav{background-image: url(../imagenes/boton1.gif);
    width: 100px;
    height: 70px;
    float: left;    
}

nav a{width: 80px;
    height: 60px;
}
h1{text-align: center;
    font-family: 'Norican', cursive;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 70px;
}

section{background-image: url(../imagenes/fondo.jpg);
    width: 960px;
    height: 600px;  
    margin: auto;
    margin-bottom: 40px;
    
}

section article{background-image: url(../imagenes/fondo2.png);
    width: 480px;
    height: 600px;
    float: left;
}
section article img{margin-left: 40px;
    margin-top: 50px;
}

section article h2{font-family: 'Norican', cursive;
    font-size: 70px;
    text-align: center;
}

section article p{margin-left: 40px;
    text-align: justify;
    font-size: 30px;
    font-family: 'Gamja Flower', cursive;
    margin-right: 40px;
}

footer{ font-size: 60px;
    font-family: 'Norican', cursive;
    text-align: center;
}
#p1{color: darkred;
}