*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.separador{
    height: 120px;
    width: auto;
}
body{
background-color: black;


}
main{
background-color: transparent;
border-style: inset;
width: 80%;
margin: 60px;
padding: 15px;
font-style: oblique;
font-family: cursive;
color:white
}
.imagen{
    width: 200px;
    height: 200px;
    box-shadow: rgba(93, 173, 226 ,0.7) 8px 8px 2px,
          rgba(133, 193, 233 ,0.7) 9px 9px 3px,
          rgba(93, 173, 226 ,0.7) 10px 10px 4px,
          rgba(23, 32, 42,1) 13px 13px 30px;
}
.bg-pink {
    background-color: #64d8cb;
}